{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Adding A New Goal
{% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/add_goal.css" %}">
{% endblock css_files %}

{% block content %}
    <main class="main">
        <h1>Add a New Challenge</h1>
        <form action="{% url 'add_goal' %}" method="post">
            {% csrf_token %}
            {{ goal_form.as_p }}
            <button type="submit">Add Goal</button>
        </form>
    </main>
{% endblock content %}