{% extends "base.html" %}
{% load static %}

{% block page_title %}
    All Challenges Available
{% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/all_challenges.css" %}">
{% endblock css_files %}

{% block content %}
    <main class="main">
        {% include "challenges/includes/new_challenge.html" %}
        {% include "challenges/includes/new_goal.html" %}
        {% include "challenges/includes/new_skill.html" %}

        <h1>All made Challenges</h1>
        <ul class="main__challenges">
            {% for challenge in challenges %}
                <li>
                    <h3>{{ challenge.name }}</h3>
                    <ul class="ul__goals">
                        {% for goal in goals %}
                            <li>{{ goal}}</li>
                        {% endfor %}
                    </ul>
                    <ul class="ul__skills">
                        {% for skill in skills %}
                            <li>{{ skill }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock content %}