{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Year's Months
{% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/months.css" %}">
{% endblock css_files %}

{% block content %}
    <main class="main">
        {% include "challenges/includes/new_challenge.html" %}
        {% include "challenges/includes/new_goal.html" %}
        {% include "challenges/includes/new_skill.html" %}

        <h1>Challenges</h1>
        <div class="main__months">
            {% for month in months %}
                <li>
                    <a href="{% url "challenges" month=month %}">{{ month|title }}</a>
                </li>
            {% endfor %}
        </div>
        <p>Just click on a month to see all its related challenges</p>
    </main>
{% endblock content %}